<h1 class="bg bg-info text-center">TO-DO List</h1>
<div class="card mx-auto d-flex align-items-center" style="width: 50rem;padding: 20px;margin: 10px;display: flex;flex-direction: column; align-items: center;">
  <!-- class="card mx-auto d-flex align-items-center" style="width: 25rem; padding: 20px; margin: 10px; flex-direction: column;" -->
  <div class="d-flex align-items-center flex-column">
    <!-- <input [(ngModel)]='editValue' type="text" placeholder="Enter Task Name" ><br> -->
    <input  [(ngModel)]='editValue' type="text" placeholder="Enter Task Name" (input)="validateInput($event)"><br>
    <span class="text-danger" *ngIf="showError && !isValidInput">Only alphabetical characters are allowed.</span>
    <!-- <input type="password" placeholder="password"><br> -->
    <button class="btn btn-success mx-auto" style="margin: 2px;" [disabled]="disaableButton" (click)="AddTask(editValue);">Add task</button><br>
   
    <h4 class="bg  text-center">My Tasks</h4>
    <hr>
    <div *ngFor="let item of taskList; let i=index; ">
      Task {{i+1}}- {{item}}
      <button class="btn btn-danger" style="margin: 2px;"(click)="DeleteTask(i)">Delete</button>
      <button class="btn btn-primary" style="margin: 2px;"(click)="editTask(item)">edit</button>
       <button class="btn btn-primary" style="margin: 2px;" (click)="UpdateTask(editValue)">update</button>
       <button class="btn btn-primary" style="margin: 2px;" (click)="makeFavourite(item)">Favourite</button><br><br>
    </div>
    
    <h4 class="bg  text-center">Favourite Task List</h4> 
      <hr>
      <div> 
         <button class="btn btn-primary" style="margin: 2px;"(click)="filterbyAz(favouriteList)" >a-z sort</button>
        <button class="btn btn-primary" style="margin: 2px;"(click)="filterbyID(favouriteList)" >id sort</button><br><br>
      </div>
     
    <div *ngFor="let fav of favouriteList; let i=index; ">
     
        <input type="checkbox" id="favCheckbox{{i}}" [(ngModel)]="fav.completed" class="mr-2">
      <label for="favCheckbox{{i}}">Task {{fav.task}}  {{fav.id}}</label><br>
    </div>
    <button *ngIf="hasSelectedFavourites()" class="btn btn-danger" (click)="deleteSelectedFavourites()">Delete Selected</button>
  </div>
</div>